 <% if !@name%>
<form action="http://localhost:9393/named-cat">
    <input type="text" name = "name">
    <input type="submit" value= "Submit">
</form>
<% end %>

<div style='border: 3px dashed red'>
    <img src='http://bit.ly/1eze8aE'> 
</div>


<h1>My name is Hilda, working with <%= @name %></h1>
